doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
  body
    block content
